#div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    gap: 0.3rem;
}
#lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input, button {
   border-radius: 5px;
   padding: 5px;
}
button {
    cursor: pointer;
    background-color: #6a23b6;
    color: white;
    border: none;
    transition: 0.4s;
}
button:hover {
    background-color: #3f0f72;
    transform: translateX(2px);
}
input {
    border: 2px solid;
    background-color: #d0b8eb;
}
li {
    list-style: none;
    border: none;
    padding: 7px;
    border-radius: 8px;
    background-color: #d6df7b;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://www.syncfusion.com/web-stories/wp-content/uploads/sites/2/2022/03/4-11.jpg');
    background-size: cover;
}   